@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-b from-slate-50 to-indigo-50 text-slate-800 antialiased;
}

input, select, textarea {
  @apply outline-none focus:ring-2 focus:ring-indigo-200;
}
